/*********************************  STYLES FROM LOADING  *********************************/
/* HTML: <div class="loader"></div> */
.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.loader {
  width: 40px;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side, var(--primary-color) 90%, #0000);
  background:
    var(--_g) 50% 0,
    var(--_g) 0 100%,
    var(--_g) 100% 100%;
  background-size: 35% calc(35%*1.154);
  animation: l16 1s infinite;
  z-index: 100;
  opacity: 0.5;
}

@keyframes l16 {

  50%,
  100% {
    background-position: 100% 100%, 50% 0, 0 100%
  }
}



/*********************************  STYLES FROM NAVBAR  *********************************/
.link__redirect {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}